{% extends 'SsSsBundle::layout.html.twig' %}

{% block content %}
<div id="breadcrumb" class="desktop">
	<a href="{{ path('ss_product') }}">Home</a> — 
	<a href="{{ path('ss_product_search') }}" class="active">Terima Kasih</a>
</div>

<h1>Terima Kasih</h1>
	<section class="product-grid twelve columns alpha omega">
	 <p>{{ entity.nama }}, terima kasih telah melakukan pemesanan di toko kami SimpleShop.com.<br> Untuk melihat detail pesanan dan melakukan konfirmasi pembayaran klik <a href="{{ path('ss_pesanan_check') }}">di sini</a>.</p>
	 <p><a href="{{ path('ss_product') }}">Lanjutkan belanja</a></p>
	</section>
{% endblock %}
